.lightbox {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   height: 100vh;
   width: 100vw;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   background-color: $white;
   display: none;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: $redcherry;
   &--left {
      width: 5%;
      height: 90%;
      position: relative;

      .fa-chevron-left {
         font-size: 2rem;
         cursor: pointer;
         position: absolute;
         top: calc(50% - 1rem);
         right: 25px;
      }
   }
   &--middle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      height: 90%;
      img,
      video {
         max-width: 100%;
         max-height: 100%;
         object-fit: cover;
      }

      p {
         padding-top: 1rem;
         width: 100%;
      }
   }
   &--right {
      width: 5%;
      height: 90%;
      position: relative;

      .fa-x {
         font-size: 2rem;
         cursor: pointer;
         position: absolute;
         left: 25px;
      }
      .fa-chevron-right {
         font-size: 2rem;
         cursor: pointer;
         position: absolute;
         top: calc(50% - 1rem);
         left: 25px;
      }
   }
}
