.photograph-medias {
   margin: 100px 100px 0 100px;

   .sort-select-container {
      .sort-select-label {
         font-size: 1.25rem;
         font-weight: 700;
         margin-right: 1rem;
      }

      .sort-select {
         padding: 1.25rem;
         background-color: $redcherry;
         color: $white;
         border-radius: 5px;
         font-size: 1.25rem;

         &:after {
            background-color: $redcherry;
         }

         .sort-select-option {
            font-size: 1.25rem;
         }
      }
   }

   .media-card-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 4rem;

      .media-card {
         display: flex;
         align-items: center;
         margin-bottom: 2rem;
         flex-direction: column;
         .media-card-top {
            width: 350px;
            height: 300px;
            img,
            video {
               width: 100%;
               height: 100%;
               object-fit: cover;
               border-radius: 5px;
               cursor: pointer;
            }
         }

         .media-card-bottom {
            display: flex;
            justify-content: space-between;
            width: 350px;
            margin-top: 10px;

            .media-card-title {
               font-size: 1.5rem;
               color: $redcherry;
            }

            &-right {
               display: flex;
               .media-card-likes {
                  min-height: 100%;
                  min-width: 100px;
                  text-align: right;
                  color: $redcherry;
                  font-size: 1.5rem;
               }
               .fa-heart {
                  width: 20px;
                  height: 20px;
                  margin-left: 0.5rem;
                  cursor: pointer;
                  color: $redcherry;
                  font-size: 1.5rem;
                  padding: 5px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  &:hover {
                     animation: animHeart 1s infinite;
                  }
               }

               .black {
                  color: $black;
               }
            }
         }
      }
   }
}

@keyframes animHeart {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.15);
   }

   100% {
      transform: scale(1);
   }
}
