.photograph-header {
   background-color: $lightgrey;
   height: 300px;
   margin: 0 100px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   border-radius: 5px;

   &__left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .photographer-header-content__left {
         display: flex;
         justify-content: center;
         align-items: flex-start;
         flex-direction: column;
         max-width: 80%;

         .name {
            font-size: 4rem;
            color: $orange;
            font-weight: 400;
            text-align: left;
            padding-left: 0.25rem;
            margin-bottom: 1rem;
         }

         .location {
            font-size: 1.5rem;
            color: $redcherry;
            text-align: left;
            margin-bottom: 1.25rem;
         }

         .quote {
            font-size: 1.25rem;
            color: $grey
         }
      }
   }

   &__middle {
      display: flex;
      justify-content: center;
      align-items: center;

      .contact_button {
         font-size: 20px;
         font-weight: bold;
         color: white;
         padding: 11px;
         width: 170px;
         height: 70px;
         border: none;
         background-color: $redcherry;
         border-radius: 5px;
         cursor: pointer;
         transition: 0.5s;

         &:hover,
         &:focus {
            background-color: $salmon;
            color: $black;
         }
      }
   }

   &__right {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         width: 200px;
         height: 200px;
         border-radius: 50%;
         object-fit: cover;
      }
   }
}

#contact_modal {
   display: none;
}
